# Copy this file to .env and fill in your values
# cp .env.example .env

VITE_SUPABASE_URL=https://sdhpgvshexqsidkivjnq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkaHBndnNoZXhxc2lka2l2am5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1NDI3OTYsImV4cCI6MjA5ODExODc5Nn0.wbjzz0058fX0vQZWKVcMkoBUgXzdbuFsWEhsPDIh4ZM
VITE_TEACHER_EMAIL=singhdindayal394@gmail.com
VITE_CLOUDINARY_CLOUD_NAME=dzkek6wxf
VITE_CLOUDINARY_UPLOAD_PRESET=MIS JNCT
VITE_FEATURE_AI=false
